extends ../layouts/application

block content
  h1 Create User
  form(action="/users", method="POST", enctype="multipart/form-data")
    input(type="hidden", name="_csrf", value=csrfToken)
    if errors
      .alert.alert-danger
        ul
          each error in errors
            li= error
    .form-group.mb-3
      label.form-label(for="name") Name
      input#name.form-control(type="text",
        name="name",
        value= values ? values.name : "")
    .form-group.mb-3
      label.form-label(for="age") Age
      input#age.form-control(type="number",
        name="age",
        value= values ? values.age : "")
    .form-group.mb-3
      label.form-label(for="email") Email
      input#email.form-control(type="email",
        name="email",
        value= values ? values.email : "")
    .form-group.mb-3
      label.form-label(for="password") Password
      input#password.form-control(type="password",
        name="password",
        value= values ? values.password : "")
    .form-group.mb-3
      label.form-label(for="avatar") Avatar
      input#avatar.form-control(type="file",
        name="avatar",
        value= values ? values.avatar : "")
    button.btn.btn-primary(type="submit") Create
